.button {
	$self: &;
	@extend %reset-button;
	box-sizing: border-box;
	display: block;
	width: fit-content;
	font-family: "MR", sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.0;
	background-color: #fff;
	color: #12141A;
	border-radius: 8px;
	padding: 14px 65px;
	border: 1px solid transparent;
	transition: background-color 0.3s;

	&_fade {
		background-color: #b8b8b8;
		
		&:hover {
			background-color: #fff;
		}
	}

	&:disabled {
		background-color: transparent;
		border-color: #5a5a5a;
		color: #5a5a5a;
	}
}