.screen {
	$self: &;
	box-sizing: border-box;
	border-left: 5px solid #fff;
	overflow-x: hidden;

	@include media('<=xxs') {
		border-width: 3px;
	}
	
	&_hero {
		background: url('#{$images-path}hero-bg.png') center top / 100% auto no-repeat transparent;
		border-color: #80ADFF;

		@include media('<=xxs') {
			background-image: url('#{$images-path}hero-bg-mobile.png');
		}
	
		#{$self}__content {
			margin-bottom: 70px;
		}
	}
	
	&_eco {
		background: linear-gradient(180deg, #121419 0%, rgba(18, 20, 25, 0.00) 51.56%, #121419 100%), linear-gradient(0deg, rgba(30, 130, 193, 0.20) 0%, rgba(30, 130, 193, 0.20) 100%), #12141A;
		border-color: #00ACE3;
	}
	
	&_crypto {
		background: linear-gradient(180deg, #121419 0%, rgba(0, 0, 0, 0.00) 52.08%, #121419 100%), linear-gradient(0deg, rgba(186, 98, 255, 0.20) 0%, rgba(186, 98, 255, 0.20) 100%), #12141A;
		border-color: #BA62FF;
	}
	
	&_design {
		background: linear-gradient(180deg, #121419 0%, rgba(0, 0, 0, 0.00) 49.48%, #121419 100%), linear-gradient(0deg, rgba(56, 125, 251, 0.20) 0%, rgba(56, 125, 251, 0.20) 100%), #12141A;
		border-color: #0075FF;
	}
	
	&_bottom {

		#{$self}__inner {
			@include media('<=lg') {
				padding-bottom: 0;
			}		
		}
	}
	
	&__inner {
		box-sizing: border-box;
		display: flex;
		flex-flow: column nowrap;
		padding-top: 50px;
		padding-bottom: 50px;
		height: 100%;
	}
	
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;

		@include media('<=lg') {
			display: block;
		}
	}

	&__content {
		box-sizing: border-box;
		width: calc(50% - 30px);
		max-width: 800px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding-left: 20px;

		@include media('<=xxlg') {
			padding: 0;
		}

		@include media('<=lg') {
			width: auto;
			max-width: none;
			margin-bottom: 40px;
		}

		@include media('<=xxs') {
			margin-bottom: 20px;
		}
	}

	&__side {
		box-sizing: border-box;
		width: calc(50% - 30px);
		max-width: 800px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		position: relative;
		
		@include media('<=lg') {
			width: auto;
			max-width: none;
			margin-bottom: 40px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 30px;
		}
		
		&_design {
			align-self: stretch;

			#{$self}__image {
				top: calc(50% + 30px);
				left: -100px;
				height: 600px;
				transform: translate(50%, -50%);
				
				@include media('<=xxlg') {
					top: calc(50% + 15px);
					height: 460px;
					left: -50px;
				}
				
				@include media('<=xlg') {
					height: 360px;
					top: calc(50% + 10px);
					left: 20px;
				}
				
				@include media('<=lg') {
					transform: translate(50%, 0);
					height: auto;
				}
				
				&[data-animation].showed {
					transform: translate(0, -50%);
		
					@include media('<=lg') {
						transform: translate(0, 0);
					}
				}
			}
		}
		
		&_bottom {
			justify-content: flex-end;
			align-self: stretch;
		
			@include media('<=lg') {
				margin: 0;
			}

			#{$self}__image {
				left: -100px;
				bottom: -50px;
				height: 800px;
				transform: translate(50%, 0);
				
				@include media('<=xxlg') {
					left: 30px;
					height: 610px;
				}
		
				@include media('<=lg') {
					bottom: 0;
					height: auto;
					width: 670px;
					margin: 0 auto;
				}
		
				@include media('<=xxs') {
					margin: 0;
					max-width: calc(100% + 50px);
				}
				
				&[data-animation].showed {
					transform: translate(0);
				}
			}
		}
	}

	&__image {
		position: absolute;
		max-height: 100%;
		max-width: none;
		
		@include media('<=lg') {
			max-height: none;
			position: static;
			max-width: 100%;
		}
		
		&[data-animation] {
			opacity: 0;
			will-change: opacity;
			will-change: transform;
			transition: transform 1.0s, opacity 1.0s;

			&.showed { opacity: 1; }
		}
	}

	&__bottom {
		min-height: 47px;
	}

	&__title {
		font-family: "MR", sans-serif;
		text-transform: uppercase;
		margin-bottom: 50px;
		font-weight: 700;
		line-height: 1.0;
		font-size: 64px;
		color: #fff;
		
		@include media('<=xxlg') {
			font-size: 48px;
		}
		
		@include media('<=xlg') {
			font-size: 40px;
		}

		@include media('<=xxs') {
			margin-bottom: 20px;
			font-size: 32px;
		}
		
		&[data-animation] {
			opacity: 0;
	
			&.showed {
				animation: titleFadeUp 0.7s;
				animation-fill-mode: forwards;
			}
		}
		
		&_smaller {
			font-size: 48px;

			@include media('<=xxlg') {
				font-size: 40px;
			}

			@include media('<=xs') {
				font-size: 32px;
			}

			@include media('<=xxs') {
				font-size: 24px;
			}
		}

		br {

			@include media('<=xxlg') {
				display: none;
			}
		}
	}

	&__text {
		font-size: 18px;
		line-height: 1.3;
		
		@include media('<=xlg') {
			font-size: 16px;
		}
		
		@include media('<=lg') {
			font-size: 14px;
		}
		
		&[data-animation] {
			opacity: 0;
	
			&.showed {
				animation: titleFadeUp 0.7s;
				animation-fill-mode: forwards;
				animation-delay: 0.2s;
			}
		}

		&_smaller {
			font-size: 16px;
		
			@include media('<=xlg') {
				font-size: 14px;
			}
		}
		
		p {
			margin-bottom: 20px;
		}

		ul li {
			position: relative;
			margin-bottom: 20px;
	
			&::before {
				display: block;
				content: '\02022';
				color: #fff;
				position: absolute;
				left: -15px;
				top: 0;
			}
		}
	}

	&__button {
		display: block;
		box-sizing: border-box;
		font-family: "MR", sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 700;
		font-size: 16px;
		padding: 13px;
		color: #12141A;
		background-color: #fff;
		border-radius: 8px;
		text-align: center;
		max-width: 240px;
		margin-top: 40px;
		width: 100%;

		@include media('<=xxs') {
			margin: 10px 0;
		}

		&[data-animation] {
			opacity: 0;
	
			&.showed {
				animation: titleFadeUp 0.7s;
				animation-fill-mode: forwards;
				animation-delay: 0.4s;
			}
		}
	}
}