<header class="header">
	<div class="header__inner container">
		<div class="header__logos">
			<a class="header__logo" href="./"><img src="./images/logo-automotive.svg" alt=""></a>
			<a class="header__logo" href="./"><img src="./images/logo-crypto.svg" alt=""></a>
			<a class="header__logo" href="./"><img src="./images/logo-design.svg" alt=""></a>
		</div>
		<div class="header__lang lang">
			<button class="lang__current">EN</button>
			<div class="lang__box">
				<div class="lang__links">
					<a class="lang__link lang__link_current" href="./">English</a>
					<a class="lang__link" href="#">Русский</a>
					<a class="lang__link" href="#">Português</a>
					<a class="lang__link" href="#">汉语</a>
					<a class="lang__link" href="#">हिन्दी</a>
					<a class="lang__link" href="#">日本語</a>
					<a class="lang__link" href="#">Español</a>
				</div>
			</div>
		</div>
	</div>
</header>