<div class="modal__hidden">
	<div id="feedback">
		<form class="form">
			<div class="form__body">
				<label class="form__field form__field_error"><input type="text" placeholder="Name" autocomplete="off"></label>
				<select class="form__field form__field_select form__field_error">
					<option value="">Purpose of Inquiry</option>
					<option value="Business/Partnership">Business/Partnership</option>
					<option value="Investments">Investments</option>
				</select>
				<label class="form__field"><input name="phone" type="text" placeholder="Phone" autocomplete="off"></label>
				<label class="form__field"><input name="email" type="text" placeholder="E-mail" autocomplete="off"></label>
				<label class="form__field"><textarea name="msg" placeholder="Message" rows="1"></textarea></label>
			</div>
			<div class="form__buttons">
				<button class="form__button button button_fade" type="submit">Send</button>
			</div>
		</form>
	</div>
</div>