.hero {
	$self: &;
		
	@include media('<=xxs') {
		padding-top: 45px;
	}

	&__content {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
	}

	&__logo {
		display: block;
		max-width: 410px;
		margin-bottom: 50px;
		
		@include media('<=xxlg') {
			max-width: 340px;
		}
		
		@include media('<=xxs') {
			max-width: 240px;
			margin-bottom: 40px;
		}
				
		&[data-animation] {
			opacity: 0;
	
			&.showed {
				animation: titleFadeUp 0.7s;
				animation-fill-mode: forwards;
				animation-delay: 0s;
			}
		}
	}

	&__text {
		text-align: center;
		max-width: 590px;
		font-size: 18px;
		line-height: 1.4;
		margin-bottom: 90px;
		
		@include media('<=xs') {
			font-size: 16px;
		}
		
		@include media('<=xxs') {
			margin-bottom: 15px;
			font-size: 14px;
		}
			
		&[data-animation] {
			opacity: 0;
	
			&.showed {
				animation: titleFadeUp 0.7s;
				animation-fill-mode: forwards;
				animation-delay: 0.2s;
			}
		}
	}

	&__buttons {
		width: 100%;
		max-width: 420px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include media('<=lg') {
			max-width: none;
		}
			
		&[data-animation] {
			opacity: 0;
	
			&.showed {
				animation: titleFadeUp 0.7s;
				animation-fill-mode: forwards;
				animation-delay: 0.4s;
			}
		}
	}

	&__down {
		font-family: "OR", sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 18px;
		color: #fff;
		display: inline-flex;
		align-items: center;
		transition: filter 0.4s;

		@include media('<=lg') {
			display: none;
		}
	
		&:hover {
			filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.75));
		}
	
		&::before {
			display: block;
			content: '';
			width: 21px;
			height: 52px;
			background: url('#{$images-path}icons-sprite.svg#icon-scroll-view-white') center / contain no-repeat transparent;
			margin-right: 20px;
			animation: moveDown 2s infinite;
		}
	}

	&__button {
		display: block;
		box-sizing: border-box;
		width: 100%;
		max-width: 240px;
		font-family: "OR", sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		font-size: 16px;
		color: #fff;
		padding: 12px;
		border: 1px solid white;
		border-radius: 8px;
		transition: filter 0.4s;
		letter-spacing: 0.04em;

		@include media('<=lg') {
			margin: 0 auto;
		}

		&:hover {
			filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.75));
		}
	}

	&__cards {

	}

	&__card {
		&[data-animation] {
			opacity: 0;
			
			&.showed {
				animation: cardSlideIn 0.7s;
				animation-fill-mode: forwards;

				@for $i from 1 through 8 {
					&:nth-child(#{$i}) {
						animation-delay: #{$i * 0.2}s;
					}
				}

				@include media('<=xxs') {
					animation-delay: 0.2s !important;
				}
			}
		}
	}
}