.header {
	$self: &;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
	position: fixed;
	z-index: 2;
	width: 100%;
	left: 0;
	top: 0;
	
	&__inner {
		padding-top: 50px;
		padding-bottom: 50px;
		display: flex;
	}

	&__logos {
		position: relative;
		flex-grow: 1;
		height: 40px;
	}

	&__logo {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		pointer-events: none;
		transition: opacity 0.3s;

		&_showed {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
	}

	&__lang {

	}
}